*{
    margin: 0;
    padding: 0;
}

.header-section{
    background: #141719;
 display: flex;
 justify-content: center;
 
}

.header-logo{
width: 313px;

}
.header-logo img{
    width: 120px;
    padding: 10px 0px;
}

.header-menu{
    /* display: flex;
  
    justify-content: center; */
}

.header-menu ul{
    list-style: none;
    display: flex;
   
}
.header-menu ul li{
    padding: 20px 15px;
   margin-left: 10px;
   border-bottom: 1px solid #ddd;
  flex-grow: 1;
}
.header-menu ul li a{
    text-decoration: none;
    color: #fff;
    display:block;
  
   

}

/* body-section */
.flex-contant{
    margin-top: 100px;
    display: flex;
}

.flex-itam{
    width: 70%;
    box-sizing: border-box;
}

.contant-start{
    width: 300px;
    height: 300px;
    border: 1px solid green;
}

.contant-center{
    width: 300px;
    height: 300px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contant-end{
    width: 300px;
    height: 300px;
    border: 1px solid green;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.justify-contant{
    display: flex;
    justify-content: space-evenly;
}

.itam{
    background: red;
    width: 70px;
    height: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-div{
    display: flex;
    margin-top: 50px;
}
.lorem-item{
    border: 1px solid green;
    flex: 1;
    padding: 15px;
    margin: 0px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow{
    flex-grow: 2;
}
.itam2{
    border: 1px solid green;
    flex: 1;
    margin: 0px 20px;
    display: flex;
    align-items: flex-start;
    padding: 20px 10px;
    margin-left: 10px;
}

.btn{
    background: red;
    border: 1px solid green;
    color: #fff;
    padding: 10px;
   
}

.style{
    flex-wrap: wrap;
   
   
}
.m{
    margin-left: 0px;
}

.three-div2{
    display: flex;
   margin-top: 50px;
    flex: 1;
}
.b{
 justify-content: space-around;
}

.style4{
    align-self: center;
    padding: 10px 20px;
}

.style5{
    align-self: flex-end;
    padding: 10px 20px;
}
.s{
    padding: 10px 20px;
}

.flex-slider{
    box-sizing: border-box;
    width: 30%;
    background: #d2d2d2;
    padding: 20px;
    border-left: 2px solid red;
}
.flex-slider h4{
    margin-bottom: 20px;
}
.flex-slider img{
    margin-bottom: 20px;
}

.f{
    background: #000;
    padding: 20px 0px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}